<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.lhc.lspace.system.accesslog.mapper.SpLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="website.lhc.lspace.system.accesslog.entity.SpLog">
        <id column="log_id" property="logId" />
        <result column="type" property="type" />
        <result column="user_account" property="userAccount" />
        <result column="operation" property="operation" />
        <result column="method" property="method" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, type, user_account, operation, method, create_time
    </sql>

</mapper>
